.root {
    -clr-light: #070a13;
    -clr-dark: #f1f5f9;
    -clr-slate400: #94a3b8;
    -clr-slate600: #475569;
    -clr-slate800: #1e293b;
    -clr-rose: #e11d48;
    -clr-indigo: #4f46e5;
    -clr-gold: #eab308;
}